html {
	background-color: #050211;
	color: #CCCAD7;
	font-family: "Lucida Console", Monaco, monospace;
}

canvas {
	border: 2px solid #7B7985;
	background-color: #050211;
}

.header {
	position: relative;
	padding: 2px;
	
	text-align: center;
	font-weight: bold;
	
	background-color: #231B40;
	border: 2px solid #7B7985;
}

.body {
	/* 653CF3 */
	position: relative;
	top: 20px;
	padding: 10px 20px;
	
	background-color: #231B40;
	border: 2px solid #7B7985;
	
	overflow: hidden;
}


a:link {
	color: #5E85E8;
}

a:visited {
	color: #653CF3;
}

line-puzzle {
	display: block;
}